body, html {
    margin: 0;
}
.header {
    text-align: center;
    padding: 2px;
}
.main{

    display: grid;
    align-content: end;
    justify-content: center;
    align-items: end;
    grid-gap: 2em;
    grid-template-rows: repeat(5, 1fr);


}

.title {
    color: white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* contains the input field for join code and the join button */
.buttons {
    grid-row: 3 / 4;
    grid-column: 2/ 3;
}



.new-btn {
    grid-column: 10;
}

