/* ============== General stuff ============== */
/* ============== Tab stuff ============== */
/* Style the tab */

html, body {
    margin: 0;
    background-color : #3f4145
}

.tabWrapper {
    overflow: hidden;
    border: 1px solid #00A5CF;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 8fr) 1fr;
}

/* Style the buttons that are used to open the tab content */
.tabWrapper button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabWrapper button:hover {
    background-color: #cff5ff;
}

/* Create an active/current tablink class */
.tabWrapper button.active {
    background-color: #00A5CF;
    transition-duration: 0.4s;
    color: white;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #00A5CF;
    border-top: none;
}

#questionTab {
    grid-column: 1;
    grid-row: 1;
}
#surveyTab {
    grid-column: 1;
    grid-row: 2;
}

/* ============== Accordion stuff ============== */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 75px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #00A5CF;
    font-weight: bold;
    color: white;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    margin: 0 0 5px 30px;
    background-color: #cff5ff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* ============= Footer ============== */
.footer {
    display: grid;
}

#newQuestionText {
    grid-column: 1 / 20;
    grid-row: 1;
}

#sendNewQuestion{
    grid-column: 20;
    grid-row: 1;
    background-color: #00A5CF;
    font-weight: bold;
    color: white;
}

#menu-btn {
    border-left: 1px solid #00A5CF;
}

/* modal window hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.menu-content {
    display: grid;
    grid-column: 5 / 10;
    grid-row: 2 / 5;
    background-color: #00A5CF;
    grid-gap: 0;
}

.menu-content button {
    color: white;
    background-color: grey;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.menu-content button:hover {
    background-color: #00A5CF;
    float: left;
    outline: none;
}
/* modal window content */
#help {
    grid-row: 1 / 2;
}

#feedback {
    grid-row: 2 / 3;
}

#survey {
    grid-row: 3 / 4;
}

.answer-container {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
}
